<link rel="stylesheet" href="/stylesheets/login.css">

<div class="login-box">
  <h2>Request participation</h2>
  <form action="/student/request-participation" method="post">
    <div class="user-box">
      <input type="text" name="collegename" required>
      <label>College Name</label>
    </div>
    <div class="user-box">
      <input type="text" name="eventname" required>
      <label>Event Name</label>
    </div>
    <div class="user-box">
      <input type="text" name="eventlevel" required>
      <label>Event Level</label>
    </div>
    <div class="user-box">
      <input type="text" name="eventtype" required>
      <label>Event Type</label>
    </div>
    <div class="user-box">
      <input type="text" name="topicname" required>
      <label>Topic Name</label>
    </div>
    <label for="date1">Select Days</label>
    <div class="user-box">
      <input type="date" id="date1" name="date1" placeholder="Day 1" required />
    </div>
    <div class="user-box">
      <input type="date" id="date2" name="date2" placeholder="Day 2" />
    </div>
    <div class="user-box">
      <input type="date" id="date3" name="date3" placeholder="Day 3" />
    </div>

    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>
  </form>
</div>