<h1>Request participation</h1>

<form action="/student/request-participation" method="post">
    <input type="text" name="collegename" placeholder="College Name" required>
    <input type="text" name="collegeaddress" placeholder="College Address" required>
    <input type="text" name="eventname" placeholder="Event Name" required>
    <input type="text" name="eventtype" placeholder="Event Type" required>
    <input type="text" name="description" placeholder="Event description" >
    <input type="date" name="fromDate" placeholder="From Date">
    <input type="date" name="toDate" placeholder="To Date">

    <input type="submit" value="SignUp">
</form>