body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input {
  margin: 5px;
  padding: 10px;
  width: 250px;
  /* border-radius: 5px; */
}
